<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Icon and Title -->
    <link rel="icon" href="../assets/img/icon.ico">
    <title>Food</title>
</head>
<body>
    <nav class="navbar justify-content-center navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/logo-food.png" alt="" width="80" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item ps-3 pe-3">
                        <i class="fa-solid fa-utensils"></i>
                        <a class="nav-link active" aria-current="page" href="#">Kitchen</a>
                    </li>
                    <li class="nav-item ps-3 pe-3">
                        <i class="fa-solid fa-pizza-slice"></i>
                        <a class="nav-link" href="#">Teste</a>
                    </li>
                    <li class="nav-item ps-3 pe-3">
                        <i class="fa-solid fa-book-skull"></i>
                        <a class="nav-link" href="#">Recipies</a>
                    </li>
                    <li class="nav-item ps-3 pe-3">
                        <i class="fa-solid fa-pencil"></i>
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item ps-3 pe-3">
                        <i class="fa-solid fa-comments"></i>
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item ps-3 pe-3">
                        <a class="nav-link" href="#" ><button type="button" class="btn btn-primary"><i class="fa-solid fa-phone"></i>+88 (01) 234 5678</button></a>
                    </li>
                    <li class="nav-item ps-1">
                        <a class="nav-link" href="#" ><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" ><i class="bi bi-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<header class="position-static">
    <div class="container-fluid">
        <div class="row"> 
            <img src="/assets/img/header.png" class="img-fluid" z-index="-1" alt="Restaurent">
                <div class="row position-absolute top-50 translate-middle-y">
                    <div class="col-7"></div>
                    <div class=" col-5 text-center mt-5 pt-3 ps-4 pe-4">
                        <h1>
                            Healthy Food Recipies
                        </h1>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt maxime impedit, quia voluptas 
                            laborum minima eum id excepturi.
                        </p>
                        <button type="button" class="btn btn-primary">Read more</button>
                    </div>
                </div>
        </div>
    </div>
</header>
<section class="container-fluid">
    <div class="row">
        <div class="col-12 text-center pt-5 pb-5">
            <h2>
                Teste of food
            </h2>
        </div>
    <div class="row container ps-5 pe-5">
        <div class="col">
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <img src="/assets/img/salad.png" class="img-fluid" alt="salad">
                </div>
                <div class="col">
                    <h3>
                        Salad
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime quas.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="/assets/img/cake.png" class="img-fluid" alt="cake">
                </div>
                <div class="col">
                    <h3>
                        Cake
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime quas.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="/assets/img/burger.png" class="img-fluid" alt="burger">
                </div>
                <div class="col">
                    <h3>
                        Burger
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime quas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row container ps-5 pe-5">
        <div class="col">
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <img src="/assets/img/icecream.png" class="img-fluid" alt="icecream">
                </div>
                <div class="col">
                    <h3>
                        Icecream
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime quas.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="/assets/img/pasta.png" class="img-fluid" alt="pasta">
                </div>
                <div class="col">
                    <h3>
                        Pasta
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime quas.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="/assets/img/cookies.png" class="img-fluid" alt="cookies">
                </div>
                <div class="col">
                    <h3>
                        Cookies
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime quas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center pt-5 pb-5">
            <button type="button" class="btn btn-primary">Read more</button>
        </div>
</section>
</body>
</html>